WHATSAPP_TOKEN=EAAUyH2eEC8gBSGTLfZC42YIHkU3ZAbWecowFDZBV7X1r89iyGThTwaAnkw4QShZAwsJ6UxgF1CrPOPy64zQDGF4ZANEWVcTZCqEu7oXEjdEvFse9ltA6p0NKeAqILxcpP5BUsgnTGN0vwwX0ZAyMEdIsZCPBXEg1wc8mWPEg5NPodRILRxQkYDRQiitEU8stqqZCjG9wGkyUXjj3gaAQIlTbDGCiEBoAnhz8iS3Jsh4xDGlbudc0Bq02tXY7vy7E91yxlmteybFvvK1HP0OFYXb7W0oxi
VERIFY_TOKEN=iliospub2026secret
PHONE_NUMBER_ID=1269690402887134
